
body{
    font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
}

h1{
    font-size: 50px;
}

.orange-color{
    color:orange;
}
.introducing-area{
    display: flex;
    
}
.half-width{
    width:50%;
   margin:5%;
}
.half-width img{
    width: 80%;
}
.border-img{
    border-left: 5px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
    border-radius: 5px;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(hotpink, tomato);
    border-radius: 5px;
    padding:8px;
    color:white;
    font-weight: 500;
}
.align-text{
    text-align: center;
}
.second-section{
    display:flex
}


.middle-section{
    display:flex;
}
.middle-section img{
    width:40%;
}
.card-one{
    background-color:rgba(232, 243, 250, 0.959); 
    margin-left: 5%;
    border-radius: 25px;
    padding:30px;
}
.card-two{
    background-color:rgb(236, 225, 233); 
    margin-left: 2%;
    border-radius: 25px;
    padding:30px;
}
.card-three{
    background-color:rgb(241, 230, 216); 
    margin-left: 2%;
    margin-right: 5%;
    border-radius: 25px;
    padding:30px;
}
.develop-area{
    display:flex;
    margin-top: 90px; 

}
.develop-area img {
width:100%;
}
.give-margin{
    margin-right: 5%;
    margin-left: 10%;
}
.project-area{
    display: flex;
    margin-top: 90px;
    margin-bottom: 120px;
    margin-left: 5%;
    margin-right: 5%;
}
.project-area img{
    width:100%;
    margin-left: 5%;
    
}
.gain-experience{
    display: flex;
    margin-top: 70px;
    margin-bottom: 120px;
    margin-left: 5%;
    margin-right: 5%;
}
.gain-experience img {
    width:100%;
}
.half-width{
    margin-left: 5%;
}













.footer-section{
    font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
    height:140px;
    background-color: black;
    text-align: center;
    color:white;
    margin:0;
    padding-top:15px;
}
.red-color{
    color:red;
}







